body {
    background-image: url("https://img.freepik.com/fotos-premium/imagem-de-fundo-para-organizar-uma-lista-de-contatos-ilustracao-3d_544235-318.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

footer.footer
{
    
    color: white;
}
