body {
    background-image: url("https://img.freepik.com/fotos-gratis/variedade-de-elementos-de-cinema-em-fundo-vermelho-com-espaco-de-copia_23-2148457848.jpg?t=st=1751121727~exp=1751125327~hmac=4cdc6844ce35d96b5460bc68a0546f24608ef6271e94ac5de4485ce6c0e50391&w=1060");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
