html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: black; /* ou qualquer outra cor de fundo */
}

body {
  background-image: url("https://media.licdn.com/dms/image/v2/C4D03AQEyWmhuma1BVg/profile-displayphoto-shrink_800_800/profile-displayphoto-shrink_800_800/0/1601498176367?e=1756339200&v=beta&t=N4ZGyYn_R7ib8sLjoO5bPiddD_bMKSyCcrtrpKuNL-g");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto;
  background-attachment: fixed;
}
