p
{
    color: red;

    text-align: center;
    text-align: left;
    text-align: right;
    text-align: justify;

    text-decoration: none;
    text-decoration: underline; 
    text-decoration: darkblue;
    text-transform: initial
}

div
{
    color: blue;
    text-decoration: underline;
    text-transform: uppercase;
    text-align: center;

    /* espaçamento   */

    text-spacing-trim: start;
}